<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>
<body>
<section>

    <h5>
        <div class="col-md-12">
            <div class="row">
                <div class="products-tabs" >
                    <!-- tab -->
                    <div id="tab2" class="tab-pane fade in active">
                        <div class="products-slick" data-nav="#slick-nav-2" >


                            <!-- product -->
                            <div class="product" th:each="product : ${listProducts}">
                                <div class="product-img">
                                    <img class="product-image" th:src="@{/images/{imageName}(imageName=${product.image})}" alt="Product Image">
                                    <div class="product-label">
                                        <span class="sale">-30%</span>
                                        <span class="new">NEW</span>
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category" th:text="${product.name}"></p>
                                    <h3 class="product-name"><a href="#" th:text="${product.brand}"></a></h3>
                                    <h4 class="product-price" th:text="${product.price}"> <del class="product-old-price" th:text="${product.price}"></del></h4>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                        <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <a class="add-to-cart-btn" th:data-id="${product.id}" th:data-user="${session.user}"> <i class="fa fa-shopping-cart"></i> Buy Now</a>
                                </div>
                            </div>
                            <!-- /product -->




                        </div>
                        <div id="slick-nav-2" class="products-slick-nav"></div>
                    </div>
                    <!-- /tab -->
                </div>
            </div>
        </div>
    </h5>

</section>



</body>
</html>