<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      th:fragment="layout(content)">-->
<!--<head>-->
<!--    <meta charset="ISO-8859-1">-->
<!--    <title>Insert title here</title>-->
<!--    <link-->
<!--            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"-->
<!--            rel="stylesheet"-->
<!--            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"-->
<!--            crossorigin="anonymous">-->
<!--</head>-->
<!--<body class="bg-light">-->

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="/products/">Product Managment</a>-->
<!--        <button class="navbar-toggler" type="button"-->
<!--                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false"-->
<!--                aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <li class="nav-item"><a class="nav-link active"-->
<!--                                        aria-current="page" href="/">Home</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="/signin">Login</a></li>-->

<!--            </ul>-->

<!--        </div>-->
<!--    </div>-->
<!--</nav>-->



<!--<div th:replace="${content}"></div>-->


<!--<script-->
<!--        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"-->
<!--        crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->











<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>





</head>
<body>
<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">

            <ul class="header-links pull-right">
                <li><a href="/signin"><i class="fa fa-user-o"></i> My Account</a></li>
                <li>
                    <div class="dropdown mt-2">
                        Xin chào <a class="dropdown-toggle text-primary" data-toggle="dropdown" th:if="${session.containsKey('user') == true}" th:text="${session.user}"></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" style="cursor:pointer" onclick="logOut()">
                                <i style="cursor:pointer" class="fas fa-sign-out-alt"></i>
                                &nbsp;&nbsp; Đăng xuất
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img src="./img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <select class="input-select">
                                <option value="0">All Categories</option>
                                <option value="1">Category 01</option>
                                <option value="1">Category 02</option>
                            </select>
                            <input class="input" placeholder="Search here">
                            <button class="search-btn">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="/cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Your Cart</span>
                            </a>
                        </div>
                        <!-- /Wishlist -->


                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>



            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>



<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <div class="section-nav">

                    </div>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div th:replace="${content}"></div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>






<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categories</h3>
                        <ul class="footer-links">

                        </ul>

                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Information</h3>
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Orders and Returns</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Service</h3>
                        <ul class="footer-links">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/nouislider.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/main.js"></script>
<script>
    function logOut() {
        $.ajax({
            type: "POST",
            url: "/logout"
        })
        location.reload()
    }
    $('.add-to-cart-btn').click(e => {
        $.ajax({
            url: "/add-cart",
            type: "POST",
            data: {
                user: e.currentTarget.dataset.user,
                product_id: e.currentTarget.dataset.id
            },
            success: d => {
                if(d === 'success') {
                    alert('Thêm vào giỏ hàng thành công!')
                }
            },
            error: e => {
                console.log('Error:', e)
            }
        })
    });
    $('#total').text(0)
    $('.check-choose').change(function(e) {
        let a = parseInt($('#total').text())
        let b = parseInt($(e.currentTarget).closest('td').siblings('.each-price').text())
        if(this.checked) {
            $('#total').text(a+b)
        } else {
            $('#total').text(a-b)
        }
    });

    $('button.stepper-plus').click(e => {
        let span = $(e.currentTarget).closest('div').find('span.stepper-number')
        let value = parseInt(span.text())
        if(value < 100) {
            value += 1
        }
        span.text(value)
        let price = $(e.currentTarget).closest('td').siblings('.each-price')
        let single = $(e.currentTarget).closest('td').siblings('.single')
        let single_price = parseInt(single.text())


        price.text(value * single_price)
    })
    $('button.stepper-minus').click(e => {
        let span = $(e.currentTarget).closest('div').find('span.stepper-number')
        let value = parseInt(span.text())
        if(value > 1) {
            value -= 1
        }
        span.text(value)
        let price = $(e.currentTarget).closest('td').siblings('.each-price')
        let single = $(e.currentTarget).closest('td').siblings('.single')
        let single_price = parseInt(single.text())

        price.text(value * single_price)
    })



    function contBuy() {
        location.href = '/'
    }

    $('tbody .delete-cart-btn').click(e => {
        let flag = confirm("Bạn có chắc chắn muốn xóa sản phẩm này ra khỏi giỏ hàng?");
        console.log(flag)
        if(flag) {
            let id = e.currentTarget.dataset.id
            $.ajax({
                url: '/delete-cart',
                type: 'POST',
                data: {
                    id: id
                },
                success: d => {
                    if(d === 'success') {
                        alert('Đã xóa thành công!')
                    }
                    $(`tr#${id}`).remove()
                },
                error: e => {
                    console.log(e)
                }
            })
        }
    })

    function divide(a, b) {
        return a/b
    }

    $('#confirm-book').click(e => {
        let item_book = $('.check-choose')
        // console.log(item_book)
        let a = []
        for (let i = 0; i < item_book.length; i++) {
            if(item_book[i].checked) {
                a.push(item_book[i])
            }
        }

        if(a.length == 0) {
            alert('Vui lòng chọn sản phẩm để thực hiện thanh toán!')
        } else {
            let str = ''
            let total = 0
            let aId = []
            let num_aId = []
            for (let i = 0; i < a.length; i++) {
                let item = a[i].dataset
                let single = parseInt($(a[i]).closest('td').siblings('.single').text())
                let each = parseInt($(a[i]).closest('td').siblings('.each-price').text())
                aId.push(item.id)
                num_aId.push(divide(each, single))
                console.log(single, each)
                total += each
                str += `${i+1}. ${divide(each, single)} sản phẩm ${item.name} có đơn giá là $${item.price}, thành tiền là $${each}\n`
            }
            str += `Tổng giá trị đơn hàng là ${total}\n`
            console.log(total)
            console.log(JSON.stringify(aId))
            console.log(JSON.stringify(num_aId))
            let check = confirm(`Đơn hàng của bạn bao gồm các sản phẩm:\n${str}\nBạn có chắc chắn muốn thanh toán không?`)
            if(check) {
                //   api
                $.ajax({
                    url: "/add-order",
                    type: "POST",
                    data: {
                        user: e.currentTarget.dataset.user,
                        pid: JSON.stringify(aId),
                        num_pid: JSON.stringify(num_aId)
                    },
                    success: d => {
                        if(d === 'success') {
                            location.href = '/order-history'
                        }
                    },
                    error: e => {
                        console.log('e:',e)
                    }
                })
            }
        }
    })
</script>
</body>
</html>
