<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/loginform.css">

</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Login #04</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(./images/bg-1.jpg);">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form action="/login" method="post" class="signin-form">
                            <div class="form-group mb-3">
                                <label class="label" >Email</label>
                                <input th:value="${input_username}" name="email" type="text" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" >Password</label>
                                <input th:value="${input_password}" name="password" type="password" class="form-control" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                            </div>
                            <div class="form-group" th:if="${alert}">
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <span th:text="${alert}"></span>
                                </div>
                            </div>
                        </form>
                        <p class="text-center">Not a member? <a data-toggle="tab" href="/signup">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<script src="/js/jquery.min.js"></script>-->
<!--<script src="/js/popper.js"></script>-->
<!--<script src="/js/bootstrap.min.js"></script>-->
<!--<script src="/js/main.js"></script>-->

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    ">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--    <style>-->
<!--        #pwd {-->
<!--            padding-right: 32px;-->
<!--        }-->

<!--        .bg_icon {-->
<!--            display: flex;-->
<!--            align-items: center;-->
<!--            position: absolute;-->
<!--            right: 10px;-->
<!--            top: 12px;-->
<!--            z-index: 100;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->

<!--<body class="bg-secondary">-->
<!--<h3 class="text-center my-5 text-light">User Login</h3>-->
<!--<div class="container">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-10 col-lg-8 col-xl-5">-->
<!--            <div class="border p-3 rounded bg-light">-->
<!--                <form action="/login" method="post">-->
<!--                    <div class="form-group">-->
<!--                        <label for="username">Username</label>-->
<!--                        <div class="input-group mb-3">-->
<!--                            <div class="input-group-prepend">-->
<!--                  <span class="input-group-text">-->
<!--                    <i class="fas fa-user"></i>-->
<!--                  </span>-->
<!--                            </div>-->
<!--                            <input th:value="${input_username}" id="username" name="username" type="text" class="form-control" placeholder="Username">-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="pwd">Password</label>-->
<!--                        <div class="input-group mb-3">-->
<!--                            <div class="input-group-prepend">-->
<!--                  <span class="input-group-text">-->
<!--                    <i class="fas fa-lock"></i>-->
<!--                  </span>-->
<!--                            </div>-->
<!--                            <input th:value="${input_password}" id="pwd" name="password" type="password" class="form-control" placeholder="Password">-->
<!--                            <div class="bg_icon"><i class="far fa-eye mic"></i></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <div class="custom-control custom-checkbox">-->
<!--                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">-->
<!--                            <label class="custom-control-label" for="customCheck">Remember</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group" th:if="${alert}">-->
<!--                        <div class="alert alert-danger alert-dismissible fade show">-->
<!--                            <button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--                            <span th:text="${alert}"></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <button class="btn btn-success px-5" type="submit">Login</button>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <p>Don't have any account? <a href="/register">Register now!</a></p>-->
<!--                    </div>-->
<!--                </form>-->

<!--                <tr class="d-flex" th:each="user : ${users}">-->
<!--                    <td>ok nha</td>-->
<!--                </tr>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    $('.mic').click(function () {-->
<!--        if($(this).attr('class').includes('far fa-eye mic')) {-->
<!--            $(this).attr('class', 'far fa-eye-slash mic')-->
<!--            $('#pwd').attr('type', 'text');-->
<!--        } else {-->
<!--            $(this).attr('class', 'far fa-eye mic')-->
<!--            $('#pwd').attr('type', 'password');-->
<!--        }-->
<!--    })-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
